$font-color: rgb(59, 59, 59);

$font-color-light: rgb(120, 120, 120);
$font-color-lighter: rgb(210, 210, 210);

$font-color-dark: rgb(30, 30, 30);
$font-color-darker: rgb(0, 0, 0);

$light-grey:  rgb(230, 230, 230);
$grey:  rgb(150, 150, 150);
$white: rgb(255, 255, 255);
$black: rgb(0, 0, 0);
